<h1 mat-dialog-title>Crear recordatorio</h1>
<div mat-dialog-content>
    <form [formGroup]="reminderForm" novalidate (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                            formControlName="datetime"/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker>
                        </ngx-mat-datetime-picker>
                     </mat-form-field>
                </mat-form-field>
            </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Mensaje" formControlName="message">
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Agendar</button>
          </mat-card-actions>
      </form>
</div>